body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.canvas-grid {
  .canvas-course {
    margin-bottom: 15px;
  }
}

.canvas-module {
  margin-bottom: 15px;
}

.btn {
  margin-left: 5px;
}


.form-control.canvas-inline {
  display: inline;
  width: auto;
}
